@font-face{
  font-family: "MijnTitelFont";
  src: url('../assets/fonts/myfont.woff2') format('woff2'),
       url('../assets/fonts/myfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

.title {
  color: fuchsia;
  font-size: 2rem;
}